@import '~bootstrap/scss/bootstrap';

$bgcolor: black;
$textcolor: lightblue;
$fontsize: 18px;
$backgroundImage: url('https://i.imgur.com/ky93CAR.jpg');

/* Use the variables */
body {
 background-image: $backgroundImage;
 /*no-repeat center center;*/
 background-size: cover;
 background-repeat: no-repeat;
 background-color: $bgcolor;
 color: $textcolor;
 font-size: $fontsize;
 background-position: center;
 display: flex;
 justify-content: center;
 margin: 200px;
}

form  {
background-color: black;
 }

 #nav button {
   background-color: blue;
 }
